body{
    font-size: 15px;
}


nav{
    text-align: center;
    background-color:#03045E ;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    gap: 30px;
}

*{
    margin: 0;
    padding: 0;
}


.contenedor{
    max-width: 200px;
    text-align: center;
    padding: 20px;
    align-items: center;
    background-color: blue;
    border-radius: 9px;
    display: inline-block;
    box-shadow: rgb(0, 0, 0.6);
    border: black;
}