body{
    font-size: 15px;
    font-family: Roboto;
}


nav{
    text-align: center;
    background-color:#03045E ;
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10 15px;
}

h1,
p,
a{
    z-index: 2;
}

header .conteiner{
    width: 100%;
    text-align: center;
    padding: 20px;
}

nav{
    color: aqua;
    font-weight: bold;
    margin: 0 15px;
    width: 100%;
    font-size: 1.2rem;
    padding: 3px;
    border-radius: 8px;
    border: black;
    text-align: center;
}

nav:hover{
    background-color: #c55c09;
}


*{
    margin: 0;
    padding: 0;
}


main{
    text-align: center;
    border: solid 5px;
    border-radius: 10px;
    background-color: aquamarine;
    padding-bottom: 10px;
}

main a{
    color: white;
    text-decoration: none;
    background-color: #03045E;
    border-radius: 10px;
}

.imagencss{
    width: 90vh;
    max-height: 2000px;
}

footer{
    text-align: center;
    background-color: #03045E;
}

header{
    height: 25%;
    width: 90vh;
}

body{
    font-size: 15px;
}


nav galeria{
    text-align: center;
    background-color:#03045E ;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    gap: 30px;
}

*{
    margin: 0;
    padding: 0;
}


.contenedor{
    max-width: 200px;
    text-align: center;
    padding: 20px;
    align-items: center;
    background-color: blue;
    border-radius: 9px;
    align-items: center;
}

.contenedor form{
    box-shadow: rgb(0, 0, 0.6);
    border: black;
    text-align: center;
}