body{
    font-size: 15px;
    font-family: Roboto;
    align-items: center;
}

.as{
    text-align: center;
    align-items: center;
    border-radius: 1px;
    border: rgb(0, 0, 0.6);
    color: white;
}
nav{
    text-align: center;
    background-color:#03045E ;
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10 15px;
}

.conteiner{
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border-radius: 100px;
    border: #c55c09;
}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    color: chartreuse;
}


.navegador:hover{
    background-color: #c55c09;
}


*{
    margin: 0;
    padding: 0;
}


main{
    text-align: center;
    border: solid 5px;
    border-radius: 10px;
    background-color: aquamarine;
    padding-bottom: 10px;
}

main a{
    color: white;
    text-decoration: none;
    background-color: #03045E;
    border-radius: 10px;
}

.imagencss{
    width: 100vh;
    max-height: 2000px;
}

footer{
    text-align: center;
    background-color: #03045E;
}

header{
    height: 25%;
    width: 90vh;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0, 0,0.6)
}

body{
    font-size: 15px;
}


nav-bar{
    text-align: center;
    background-color:#03045E ;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    gap: 30px;
}

*{
    margin: 0;
    padding: 0;
}




.contenedor-reservas{
    max-width: 200px;
    text-align: center;
    padding: 20px;
    align-items: center;
    background-color: blue;
    border-radius: 9px;
    align-items: center;
}

.contenedor-reservas form{
    box-shadow: rgb(0, 0, 0.6);
    border: black;
    text-align: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.galeria img{
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba (0,0,0,0.3);
}

body .galeria{
    font-family: roboto;
    margin: 0;
    padding: 0;
    display: row;
    flex-direction: column;
    align-items: center;
}

